<link rel="stylesheet" href="/styles/blog.css" />
<h1>Blog posts:</h1>

<ul class="no-padding">
<%
  const blogPosts = this.queryAssets("blog/*.md");
  const blogData = [];

  for (const post of blogPosts) {
    blogData.push(await this.getDataFor(post));
  }

  blogData.sort((a, b) => {
    if (!a.date && !b.date) {
      return (a.title ?? '').localeCompare(b.title ?? '');
    }
    if (!a.date) {
      return 1;
    }
    if (!b.date) {
      return -1;
    }
    // Sort by date (ascending) format first.
    const dateCheck = a.date > b.date ? -1 : a.date < b.date ? 1 : 0;
    // If the date is equal, sort by title.
    return dateCheck !== 0 ? dateCheck : (a.title ?? '').localeCompare(b.title ?? '');
  });

  for (const data of blogData) { 
    const { slug, title, date, author, categories, description } = data;
    %>
    
    <section class="blog-blurb">
      <h2><a href="/blog/<%= slug %>"><%= title %></a></h2>
      <div class="extra">
        <% if (date && author) { %>
          Posted by <%= author %> on <strong><%= new Date(Date.parse(date)).toLocaleDateString() %></strong>
        <% } else if (date) { %>
          Posted on <strong><%= new Date(Date.parse(date)).toLocaleDateString() %></strong>
        <% } else if (author) { %>
          Posted by <%= author %>
        <% } %>
      </div>
      <div class="blog-description"><%= description ?? "" %></div>
      <% if (Array.isArray(categories) && categories.length) { %>
      <div class="extra">
        Tags: 
        <% for (const [i, category] of categories.entries()) { %><%= i === 0 ? "" : ", " %><strong><%= category %></strong><% } %>
      </div>
      <% } %>
    </section>
<%
  }
%>
</ul>